/**
 * @name Dark Matter Furina
 * @author Tropical#8908, Hammock#3110, Primall#Peashooter
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url("https://DiscordStyles.github.io/DarkMatter/src/base.css");

/* Variables */
:root {
  --avatar-size: 32px;
  --background-image: url("https://raw.githubusercontent.com/rezytijo/BetterDiscordThemes/main/Background/Furina2-1920x1080.jpg");
  --home-image: url("https://static.wikia.nocookie.net/plantsvszombies/images/f/f7/Primalpeashooterpvz2.png");
  --background-solid: #1619217c;
  --background-solid-dark: #10121860;
  --background-solid-darker: #0c0e1200;
  --accent: 37, 172, 232;
  --accent-alt: 29, 101, 134;
}
